[user]
	name = Jack Liu
	email = 5811028+zheyuan-liu@users.noreply.github.com
[color]
	ui = true
[alias]
	ci = commit
	lc = log ORIG_HEAD.. --stat --no-merges
	llog = log --date=local
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[core]
	editor = vim
